// Keywords: migration, dispersal

initialize() {
	initializeMutationRate(1e-7);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 99999);
	initializeRecombinationRate(1e-8);
}
ticks all 1 early() {
	subpopCount = 100;
	for (i in 1:subpopCount)
		host.addSubpop(i, 500);
		para.addSubpop(subpopCount+i, 500);
	for (i in 1:subpopCount)
		for (j in 1:subpopCount)
			if (i != j)
				host.subpopulations[i-1].setMigrationRates(j, 0.05);
				para.subpopulations[subpopCount+i-1].setMigrationRates(subpopCount+j, 0.05);
}
10000 late() { sim.outputFixedMutations(); }
